# Ignore W&B run directories anywhere in the repository
**/wandb/
**/wandb/**

# Ignore results output directories anywhere in the repository
**/results/
**/results/**

# Large local pilot CSV outputs
am_flexdc/data/pilots/traditional_iso16_newqos_AQA_combined_grid_search_diagnostics.csv
am_flexdc/data/pilots/traditional_iso16_newqos_AQA_combined_grid_search_results.csv

# Large generated pilot CSV outputs
am_flexdc/data/pilots/traditionaliso_newqos_pilot/*.csv
